<ion-header [translucent]="true">
  <ion-toolbar class="tol1">
    <ion-button id="boton1" [routerLink]="'/menu'">
      <ion-icon size="large" slot="start" name="caret-back-circle-outline"></ion-icon>
      </ion-button>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-menu-content" [fullscreen]="true">

  <ion-card *ngFor="let asistencia of asistencias">
    <ion-card-header>
      <ion-card-title>{{ asistencia.asignatura }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Docente: {{ asistencia.docente }}</p>
      <p>Fecha: {{ asistencia.fecha }}</p>
      <p>Hora: {{ asistencia.hora }}</p>
      <p>Leccion: {{ asistencia.leccion }}</p>
      <p>Sala: {{ asistencia.sala }}</p>
      <p>Seccion: {{ asistencia.seccion }}</p>
    </ion-card-content>
  </ion-card>
  


</ion-content>

