<ion-header [translucent]="true">
  <ion-toolbar class="tol1">
    <ion-button id="boton1" [routerLink]="'/menu'">
      <ion-icon size="large" slot="start" name="caret-back-circle-outline"></ion-icon>
      </ion-button>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-menu-content" [fullscreen]="true">
  



    <ion-card class="card2" *ngFor="let item of arrayAsig">
    
    <ion-card-header>
      <ion-card-subtitle>
        <h6>{{item.leccion}}</h6>
      </ion-card-subtitle>

      <ion-card-title> {{item.asignatura}}</ion-card-title>
    
    </ion-card-header>
  
    <ion-card-content>
      <p>Docente: {{item.docente}}</p>
      <p>Fecha:  {{item.fecha}}</p>
      <p>Hora {{item.hora}}</p>
      <p>Sala: {{item.sala}} </p>
      <p>Seccion: {{item.seccion}}  </p>
    </ion-card-content>
  </ion-card> 
</ion-content>
