<ion-header [translucent]="true">
  <ion-toolbar  class="custom-toolbar">
    <ion-title>Escanear Qr</ion-title>
    <ion-button shape="round" class="botonvolver" [routerLink]="'/menu'">
      <ion-icon size="large" slot="start" name="caret-back-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-menu-content" [fullscreen]="true">
<ion-card>
<ion-card-content >
 <img class="scan" src="https://upload.wikimedia.org/wikipedia/en/2/2f/Scan_app_logo.png" alt="scan">
</ion-card-content>

<ion-button class="botonscan"  shape="round" expand="full" (click)="scan()">Escanear</ion-button>

<ion-button class="botonscan"  shape="round" expand="full" (click)="mostrarCamera()">Abrir Camara</ion-button>
</ion-card>


<ion-img [src]="fotoUrl" *ngIf="fotoUrl"></ion-img>



 




</ion-content>
