ion-header {
    --background: transparent;
  }
  
  ion-toolbar {
    --background: transparent;
  }
  
.botonvolver{
    --background: #67bdf7;



    --border-width: 0;
    --color: #ffffff;


  }

  .botonscan{
    --background: #67bdf7;


    --border-width: 0;
    --color: #ffffff;

    margin-top: 70px;
    

  }
  
  ion-icon {
    --color: #007bff;
  }
  
  ion-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  ion-content {
    --background: #00000000;
  }
  
  .scan{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 400px;
    vertical-align: middle;
    animation: changeColor 5s linear infinite;

  }
  @keyframes changeColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


  ion-card-content{
    display: flex;
    justify-content: center;
    align-items: center;

  } 
  
  