ion-header {
    --background: transparent;
  }
  
  ion-toolbar {
    --background: transparent;
  }
  
.botonvolver{
    --background: #f7f567;



    --border-width: 0;
    --color: #000000;


  }
  
  .custom-toolbar {
    --background: #f83b3b;
    --color: #ffffff;
  }

  .botonscan{
    --background: #67cef7;


    --border-width: 0;
    --color: #ffffff;

    margin-top: 70px;
    

  }
  
  ion-icon {
    --color: #007bff;
  }
  
  ion-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  ion-content {
    --background: #00000000;
  }
  
  .scan{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 400px;
    vertical-align: middle;
    animation: changeColor 5s linear infinite;

  }
  @keyframes changeColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


  ion-card-content{
    display: flex;
    justify-content: center;
    align-items: center;

  } 


  ion-button{
    --background: #fff700;
    --background-hover: #000000;
    --background-activated: #000000;
    --background-focused: #f0e802;
  
    --color: rgb(0, 0, 0);
  
    --border-radius: 0;
    --border-color: #eaff2c;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: rgb(238, 255, 0);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
    margin-top: 1px;
}


.custom-menu-content {
  --background: #ffffff00;
  background-image: url('https://cdn.andro4all.com/andro4all/2021/08/fondos-de-pantalla-de-One-Piece-para-movil-12.jpg?height=600');
  background-size: cover;
  height: auto;
} 

  
  